h2 {
  font-size: 4vw;
  font-weight: bold;
}

p {
  width: 50%;
  font-size: 2vw;
  font-family: Trebuchet MS, sans-serif;
}

img {
  float: right;
  height: auto;
  width: 40vw;
  height: 32vw;
}

@media screen and (max-width: 1000px) {
  img {
    display: none;
  }
  h2 {
    margin: 1%;
    padding: 1%;
  }
  p {
    width: 100%;
    margin: 1%;
    padding: 1%;
    font-size: 5vw;
  }
}
