.videos {
  background-color: salmon;
  width: 100%;
  height: 30vw;
}
#body {
  height: 30vw;
}

img {
  width: 20vw;
  padding: 2%;
  margin-left: 17%;
}

iframe {
  width: 25vw;
  height: 25vw;
  margin: 2%;
  background-color: salmon;
}

.vid2 {
  position: absolute;
  left: 37%;
}

.vid1 {
  position: absolute;
  left: 3%;
}

.vid3 {
  position: absolute;
  left: 70%;
}
@media screen and (max-width: 650px) {
  .vid1 {
    position: absolute;
    top: 20vw;
    left: 23vw;
  }
  .vid2 {
    position: absolute;
    top: 50vw;
    left: 23vw;
  }
  .vid3 {
    position: absolute;
    top: 80vw;
    left: 23vw;
  }

  iframe {
    width: 50vw;
  }

  #body {
    height: 100vw;
  }
}
