img {
  position: absolute;
  left: 2%;
  width: 30%;
  height: 40%;
  margin-left: 1%;
}

h2 {
  font-weight: bold;
  font-size: 32px;
  color: white;
  margin-left: 35%;
}

p {
  min-height: 15vw;
  margin-left: 35%;
}

@media screen and (max-width: 1250px) {
  img {
    display: none;
  }
  h2 {
    margin: 1%;
    padding: 1%;
  }
  p {
    margin: 1%;
    padding: 1%;
  }
}
