.contact {
  line-height: 325%;
  word-spacing: 20px;
  font-size: 2vw;
  font-weight: bold;
  float: right;
}

img {
  width: 40vw;
  height: auto;
  left: 25vw;
  top: 12vw;
  position: absolute;
}

.contactform {
  font-size: 1.5vw;
  width: 30%;
  margin: 0%;
  padding: 0%;
  clear: left;
}

@media screen and (max-width: 750px) {
  img {
    display: none;
  }
  .contactform {
    width: 50%;
    font-size: 3vw;
  }

  .contact {
    font-size: 3vw;
    word-spacing: 3vw;
  }
}
