h1 {
  font-size: 4vw;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  float: left;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding-top: 4%;
  padding-left: 5vw;
  overflow: hidden;
  width: 56%;
}

li {
  display: inline;
  padding-right: 2%;
}

li a {
  text-decoration: none;
  color: black;
  font-size: 1.75vw;
}

li a:hover {
  text-decoration: underline;
}

#nav {
  background-color: white;
  margin: 0% 2% 2% 2%;
}

.dropdown {
  display: none;
  position: relative;
  float: right;
}

.dropbtn {
  background-color: salmon;
  color: white;
  padding: 16px;
  font-size: 3vw;
  border: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(153, 67, 57);
}

.banner {
  height: 300px;
  width: 100%;
  padding: 0%;
  margin: 0%;
  background-color: salmon;
  top: 0%;
  position: relative;
}

#body {
  background-color: salmon;
  color: white;
  padding: 1%;
  margin: 1%;
  font-size: 2vw;
  font-family: Trebuchet MS, sans-serif;
}

@media screen and (max-width: 650px) {
  h1 {
    float: none;
    font-size: 8vw;
    width: 80%;
  }
  ul {
    display: none;
  }
  .dropdown {
    display: inline-block;
  }
}
